mixin section-header(website, name, startDate, endDate, icon, subhead)
  .section-header
    if name
      div
        if icon
          div.section_icon
            img(src=icon)
        span.section_text
          h3.bold.section_title
            if website
              a(href=website, target="_blank")
                | #{name}
            else
              | #{name}
          h4.bold.section_subtitle
            | #{subhead}
          h6.italic
            span.startDate #{startDate.split('-')[0] + '-' + startDate.split('-')[1]}
            if endDate
              span.endDate
                |  &mdash; #{endDate.split('-')[0] + '-' + endDate.split('-')[1] + ' (' + humanDuration(startDate, endDate) + ')'}
            else
              span.endDate  - Present