doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, minimal-ui")
    - let shortTitle = `${resume.basics.name.split(' ')[0] + '\'s ' + 'Resume'}`
    title #{shortTitle}
    meta(property='og:title' content=shortTitle)
    meta(property='og:description' content=`${resume.basics.tagline}`)
    meta(property='og:image' content=`${resume.basics.og_image}`)
    meta(property="article:published_time" content=`${new Date()}`)
    meta(name="author" content="Dmitriy Safonov")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/w3-css/4.1.0/w3.min.css")
    link(rel="stylesheet", href="styles/main.css")
    script(src="resume.js" type="module")
  body
    main#resume.page
      include partials/title
      include partials/social
      include partials/info-tag
      include partials/section-header
      include components/resume-header
      div.resume-content
        aside.left-column
          include components/about
          include components/skills
          include components/interests
        aside.right-column
          include components/summary
          include components/work
          include components/volunteer
          include components/education
          include components/awards
          include components/publications
          include components/references
